<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>audiopyle</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
<div id="app">
    <div class="jumbotron">
        <h1 class="display-4">audiopyle</h1>
        <p class="lead">audio feature extraction engine based on standard VAMP plugins</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="https://emkor.github.io/audiopyle/api" role="button">API reference</a>
        <a class="btn btn-primary btn-lg" href="https://www.vamp-plugins.org/" role="button">VAMP plugins reference</a>
        <hr class="my-4">
        <p>Backend API status: {{ api_status }}</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#makeRequest">Make request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#browseResults">Browse results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#analyzeCompare">Analyze & compare</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content">
                    <div id="makeRequest" class="tab-pane active">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="chooseAudioHeading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#chooseAudio"
                                                aria-expanded="false" aria-controls="collapseOne">
                                            Choose audio file
                                        </button>
                                    </h5>
                                </div>
                                <div id="chooseAudio" class="collapse" aria-labelledby="chooseAudioHeading"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Audio file name</th>
                                                            <th>Selection</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="audio in audio_files">
                                                            <td>{{ audio }}</td>
                                                            <td>
                                                                <button class="btn btn-primary btn-sm"
                                                                        v-bind:name="audio"
                                                                        v-on:click="fetchAudioDetails">Select
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <h6>Audio file details:</h6>
                                                <div v-if="selected_file_details">
                                                    <p>
                                                        File name: {{ selected_file_details.file_name }}<br />
                                                        Size (bytes): {{ selected_file_details.size }}<br />
                                                        Created (UTC): {{ selected_file_details.created_on }}<br />
                                                        Modified (UTC): {{ selected_file_details.last_modification }}<br />
                                                        Accessed (UTC): {{ selected_file_details.last_access }}<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="chooseVampHeading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#chooseVamp"
                                                aria-expanded="false" aria-controls="collapseOne">
                                            Choose VAMP plugin
                                        </button>
                                    </h5>
                                </div>
                                <div id="chooseVamp" class="collapse" aria-labelledby="chooseVampHeading"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>VAMP plugin key</th>
                                                            <th>Selection</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="plugin in vamp_plugins">
                                                            <td>{{ plugin }}</td>
                                                            <td>
                                                                <button class="btn btn-primary btn-sm"
                                                                        v-bind:name="plugin"
                                                                        v-on:click="fetchPluginDetails">Select
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <h6>VAMP plugin details:</h6>
                                                <div v-if="selected_plugin_details">
                                                    <p>
                                                        Key: {{ selected_plugin }}<br />
                                                        Vendor: {{ selected_plugin_details.vendor }}<br />
                                                        Name: {{ selected_plugin_details.name }}<br />
                                                        Output: {{ selected_plugin_details.output }}<br />
                                                        Library file: {{ selected_plugin_details.library_file_name }}<br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="reviewConfigHeading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#reviewConfig"
                                                aria-expanded="false" aria-controls="collapseOne">
                                            Review and make request
                                        </button>
                                    </h5>
                                </div>
                                <div id="reviewConfig" class="collapse" aria-labelledby="reviewConfigHeading"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Selected audio file: {{ selected_file }}</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>Selected VAMP plugin: {{ selected_plugin }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p>Selected plugin config:<br /><code>{{ selected_plugin_config }}</code></p>

                                            </div>
                                            <div class="col-sm-6">
                                                <p>Metrics that will be extracted:<br /><code>{{ selected_plugin_metrics }}</code></p>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 offset-3">
                                                <button role="button" class="btn btn-md btn-default"
                                                        :class="{ disabled: nothingSelected }"
                                                        :disabled="nothingSelected"
                                                        v-on:click="resetSelection">Clear selection
                                                </button>
                                            </div>
                                            <div class="col-sm-3">
                                                <button role="button" class="btn btn-md btn-primary"
                                                        :class="{ disabled: requestNotPossible }"
                                                        :disabled="requestNotPossible"
                                                        v-on:click="sendRequest">Send request
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="browseResults" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Extracted requests</h4>
                                <ul>
                                    <li v-for="request in requests">
                                        <a v-bind:name="request" v-on:click="fetchRequestDetails">{{ request }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <h4>Details of request: {{ selected_request }}</h4>
                                <h5 v-if="selected_request_status">Status: {{ selected_request_status }}</h5>
                                <ul v-if="selected_request_details">
                                    <li>Task ID: {{ selected_request_details.task_id }}</li>
                                    <li>Audio file name: {{ selected_request_details.audio_meta.file_name }}</li>
                                    <li>Plugin: {{ selected_request_details.plugin.vendor }}:{{
                                        selected_request_details.plugin.name }}:{{
                                        selected_request_details.plugin.output }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="analyzeCompare" class="tab-pane">
                        <p>Analyze & compare</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="index.js"></script>
</body>
</html>