# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
*.egg-info/
.venv/
**/__pycache__
**/.pytest_cache

# Unit test / coverage reports
.tox/
.coverage
.cache
*coverage.xml
*-coverage/
.mypy_cache

# IDEA files
.idea/
*.iml

# documentation directory
spectacle_docs/

# frontend files
node_modules

# temporary files
.tmp