# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage
.cache


# IDEA files
.idea/
*.iml

# tox files
*coverage.xml
*-coverage/
.mypy_cache